<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between mx-4">
          <h4 class="card-title"> Book Management </h4>
          <button type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#addModal">
            Add Book
          </button>
        </div>
        <div class="card-body mx-4">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>
                </th>
                <th>
                  Title
                </th>
                <th>
                  Description
                </th>
                <th>
                  Category
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>
              <tbody *ngFor="let post of loadedPosts">
                <tr>
                  <td>
                    <img src="{{post.image}}"
                         style="height: 50px; width: 50px;">
                  </td>
                  <td>
                    {{post.title}}
                  </td>
                  <td>
                    {{post.content}}
                  </td>
                  <td>
                   {{post.category}}
                  </td>
                  <td class="text-right">
                    <button type="button"
                            class="btn btn-warning"
                            data-toggle="modal"
                            data-target="#editModal"
                            (click)="viewPost(post)">
                      Edit
                    </button>
                    <button class="btn btn-danger"
                            (click)="onDeletePost(post)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add Modal -->
<div class="modal fade"
     id="addModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleModalLongTitle">Add Book</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #postForm="ngForm"
              (ngSubmit)="onCreatePost(postForm.value)">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   required
                   [(ngModel)]="title"
                   name="title" />
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="text"
                   class="form-control"
                   id="image"
                   required
                   [(ngModel)]="image"
                   name="image" />
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text"
                   class="form-control"
                   id="category"
                   required
                   [(ngModel)]="category"
                   name="category" />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control"
                      id="content"
                      required
                      [(ngModel)]="content"
                      name="content"></textarea>
          </div>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!postForm.valid">
            Add
          </button>
          <button type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade"
     id="editModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleModalLongTitle">Edit Book</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #showUpdate="ngForm"
              (ngSubmit)="onUpdatePost()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   required
                   [(ngModel)]="title"
                   name="title" />
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="text"
                   class="form-control"
                   id="image"
                   required
                   [(ngModel)]="image"
                   name="image" />
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text"
                   class="form-control"
                   id="category"
                   required
                   [(ngModel)]="category"
                   name="category" />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control"
                      id="content"
                      required
                      [(ngModel)]="content"
                      name="content"></textarea>
          </div>
          <div class="form-group">
            <input class="form-control"
                      id="available"
                      required
                      [(ngModel)]="available"
                      name="available"
                      type="hidden"/>
          </div>
          <div class="form-group">
            <input class="form-control"
                      id="member"
                      required
                      [(ngModel)]="member"
                      name="member"
                      type="hidden"/>
          </div>
          <button class="btn btn-warning"
                  type="submit"
                  [disabled]="!showUpdate.valid">
            Edit
          </button>
          <button type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>