<div class="panel-header panel-header-sm">
</div>


<div class="main-content">
    <div class="row" >
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between mx-4">
                    <h1 class="card-title"><strong>Mini Library</strong></h1>        
                </div>
                <div class="card-body mx-4 " *ngFor="let post of loadedPosts">
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img src={{post.image}} class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>{{post.title}}</h4>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal" (click)="viewPost(post)">
                                    Details
                                  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between mx-4">
          <h2 class="card-title"><strong>Mini Library</strong></h2>
        </div>
        <div class="card-body mx-4">
          <div class="table-responsive">
            <table class="table" *ngFor="let post of loadedPosts">
              <thead class="text-primary">
                <th>
                  Category
                </th>
                <th>
                  Description
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>
              <tbody >
                <tr>
                  <td>
                    <p>{{post.name}}</p>
                  </td>
                  <td>
                    <p>{{post.description}}</p>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-warning" (click)="editDataUser(dataUser)">Edit</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="viewPost(post)">
                      Edit
                    </button>
                    <button class="btn btn-danger" (click)="onDeletePost(post)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Detail Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle">Detail Book</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <img src={{image}} class="card-img-top" alt="...">
            </div>
            <h3><strong>Title: </strong>{{title}}</h3>
            <h3><strong>Category: </strong>{{category}}</h3>
            <h3><strong>Description: </strong>{{content}}</h3>
            <h3 *ngIf="available">
                Available for rent
            </h3>
            <h3 *ngIf="!available">
                Not available for rent
            </h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="submit" form="showUpdate" class="btn btn-primary" [disabled]="!showUpdate.valid">Edit</button> -->
        </div>
      </div>
    </div>
  </div>